shared_files/node-red/aryaos_flows.json
[
    {
        "id": "94cf869050128770",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9c4ba3cbc4bd87fa",
        "type": "tab",
        "label": "Maps",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "76732e91104cd622",
        "type": "tab",
        "label": "I/O",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "de725ec24f79b6b7",
        "type": "tab",
        "label": "TFR",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "898f970d26b5049d",
        "type": "tab",
        "label": "TAK",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f83d0c6d58d0338c",
        "type": "tab",
        "label": "Recorder",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fb90e60944764ed9",
        "type": "group",
        "z": "94cf869050128770",
        "name": "GPS",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "69bd079907c39f3c",
            "73eb77cde2c7a709",
            "7c69f96954e99a9b",
            "de2c209dbe934060",
            "f20627a1cbc79171",
            "1190f05a50aad89c",
            "43958e20b7e848a3",
            "6ffc305ab7e20ec7",
            "7d93763937acd108"
        ],
        "x": 14,
        "y": 491.5,
        "w": 572,
        "h": 189.5
    },
    {
        "id": "a1d4fe25968a5368",
        "type": "group",
        "z": "94cf869050128770",
        "name": "Throttled Status",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "67c1aa629a2e95af",
            "4f64ec7db13ee424",
            "4338acd2934924cc"
        ],
        "x": 614,
        "y": 439,
        "w": 632,
        "h": 109.5
    },
    {
        "id": "45da34b7e4bdb957",
        "type": "group",
        "z": "94cf869050128770",
        "name": "",
        "style": {
            "fill": "#bfdbef",
            "label": true
        },
        "nodes": [
            "095368571cbf1fcf",
            "c82e38d047199cb5",
            "16d10d070ec070d9",
            "20787a00729ffe5f",
            "c1b4f4996f5aa122",
            "7750039932acdcc7",
            "e0d87a55d461c609",
            "8db81499fdb5170a",
            "681d2876a7db4f51",
            "d85368cd75bb347e"
        ],
        "x": 74,
        "y": 19,
        "w": 652,
        "h": 202
    },
    {
        "id": "75d810e2c34e3c4f",
        "type": "group",
        "z": "94cf869050128770",
        "name": "SDR Lookup",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "24d11b12327e6147",
            "b36b3af7a720fa09",
            "c694287e0ecfdb11",
            "ab8919275dc5a1bb",
            "65b80260e6a12016"
        ],
        "x": 14,
        "y": 239,
        "w": 592,
        "h": 122
    },
    {
        "id": "e3b3a9c137f6b1a8",
        "type": "group",
        "z": "94cf869050128770",
        "name": "Uptime",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "16419a36256c9583",
            "b1d1259dd556c68a",
            "267687b40c52261e"
        ],
        "x": 14,
        "y": 811.5,
        "w": 412,
        "h": 97
    },
    {
        "id": "e165fa1b9bca5292",
        "type": "group",
        "z": "76732e91104cd622",
        "name": "aircraft.json",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "5f6eab2d3d6ad9be",
            "64fa2c00f63bdd53",
            "b068a436f07cc0bd",
            "99dfc7e97f5f8d47",
            "b3d1b7bf5a4edba2",
            "ce3be08760e15920",
            "65a40de620905bad",
            "573961361f4ac80b",
            "61a91ec3d8b3f82b"
        ],
        "x": 34,
        "y": 419,
        "w": 682,
        "h": 242
    },
    {
        "id": "265b840ea6186ecf",
        "type": "group",
        "z": "76732e91104cd622",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a5dbb71f6d17579d",
            "4aa3f8001760c96a",
            "e0a7e9ef71a6f0e8",
            "bd6f79df66f3f373",
            "089a5c1ffeafe91b",
            "58edafa9ab997436"
        ],
        "x": 54,
        "y": 759,
        "w": 452,
        "h": 262
    },
    {
        "id": "1d17f399c2310113",
        "type": "group",
        "z": "94cf869050128770",
        "name": "Hostname",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "4a87ab6388bffac2",
            "1fca29d62080fdd9",
            "5d6ab3c272199b94",
            "dc3fd8b497972cae",
            "2d5d9381afea8c59",
            "6ee20da0ae45fefa"
        ],
        "x": 614,
        "y": 559,
        "w": 912,
        "h": 122
    },
    {
        "id": "d34772b1b10233f2",
        "type": "group",
        "z": "94cf869050128770",
        "name": "QR Code",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "9f8119755cf73778",
            "a1642742e713d559",
            "8a9319936729c649",
            "cbbe264f84b53680"
        ],
        "x": 684,
        "y": 339,
        "w": 582,
        "h": 82
    },
    {
        "id": "3de15a4313928391",
        "type": "group",
        "z": "94cf869050128770",
        "name": "Docker",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "808f9f656a06999e",
            "b2825e8d13e21f82",
            "d033dfa14fa3a005"
        ],
        "x": 14,
        "y": 691.5,
        "w": 472,
        "h": 97
    },
    {
        "id": "17bfcdcfdf2a4d27",
        "type": "group",
        "z": "94cf869050128770",
        "name": "Get IP Address(es)",
        "style": {
            "stroke": "#000000",
            "label": true,
            "color": "#000000",
            "fill": "#bfdbef"
        },
        "nodes": [
            "eba6db50839b1dd3",
            "fe13b1777995e549",
            "a8c5db14c632752a",
            "2273e07e235feb5f",
            "96eaefd7b076e52f",
            "08b0c289b467c651",
            "0461c96c7176906e",
            "3ffebbc8f353e474",
            "95371d51b8c1615b",
            "61d60cef9a4e57a1",
            "51bd1b0de1b34ae1",
            "45262697685cd99a",
            "02fe893dadaa3353",
            "ca9f0660df3a7823",
            "773d1f54a175ce44"
        ],
        "x": 754,
        "y": 31.5,
        "w": 752,
        "h": 249.5
    },
    {
        "id": "42d1bc7ae7b142a6",
        "type": "group",
        "z": "94cf869050128770",
        "name": "RPI Stats",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "stroke": "#000000",
            "color": "#000000"
        },
        "nodes": [
            "2653a0b0.26d638",
            "fba68adf.14e13",
            "7c8379de.068868",
            "fa5b499.e176cb8",
            "28b64a2c.b32116",
            "972ece2a.3dbe8",
            "6242be99.26ac88",
            "b9372186.ed1a5",
            "9b301b09.8c0468",
            "77573ff2f632057f",
            "a5da1eb0f58fe89a"
        ],
        "x": 14,
        "y": 919,
        "w": 692,
        "h": 229.5
    },
    {
        "id": "ed89357254442b04",
        "type": "group",
        "z": "94cf869050128770",
        "name": "AIS Radio",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "stroke": "#000000",
            "color": "#000000"
        },
        "nodes": [
            "26de6169ed90e52e",
            "95606cfcb2fc5c04",
            "617789ed06e6dcdd"
        ],
        "x": 14,
        "y": 371.5,
        "w": 512,
        "h": 97
    },
    {
        "id": "96ffdbd12837f1c9",
        "type": "group",
        "z": "94cf869050128770",
        "name": "Uname",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "6a76f861923d5e5b",
            "49ef8ba8db452f65",
            "a7d3342e1a0fbcd2"
        ],
        "x": 514,
        "y": 691.5,
        "w": 452,
        "h": 97
    },
    {
        "id": "4b39414d47d8990e",
        "type": "group",
        "z": "94cf869050128770",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "4dfeafb5656bdb04",
            "285ece519bd3976f",
            "e93dc524c636e92d",
            "b4b0c83c63e4b4ff",
            "88070f84d9e74504",
            "668b9fe6695a20aa",
            "4317408c7b784c0b",
            "37f21d650f5fda44"
        ],
        "x": 34,
        "y": 2019,
        "w": 572,
        "h": 222
    },
    {
        "id": "ef944c45efbb9c65",
        "type": "group",
        "z": "94cf869050128770",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "270f61f0.9af05e",
            "7ca6ecb.7512014",
            "d70b7556.a0a9e",
            "59103f97.07fed"
        ],
        "x": 474,
        "y": 811.5,
        "w": 632,
        "h": 97
    },
    {
        "id": "c1ac067b71b7f0d1",
        "type": "group",
        "z": "94cf869050128770",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5dd1990becedf2b0",
            "b1397733b1721b33",
            "3261a8dfedfae96d"
        ],
        "x": 714,
        "y": 931.5,
        "w": 472,
        "h": 97
    },
    {
        "id": "191c390f76d0d2ec",
        "type": "group",
        "z": "94cf869050128770",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ca3080fa414c682a",
            "b8c830dc7384cd97",
            "a37cfd5ee5320ebf"
        ],
        "x": 714,
        "y": 1051.5,
        "w": 592,
        "h": 97
    },
    {
        "id": "81280d45cc541850",
        "type": "group",
        "z": "94cf869050128770",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a28b315020b7d27a",
            "c60c4db3ba0e4894",
            "542f98595d544bf1",
            "011958f14ff20b6e",
            "27f01ee6e020e629",
            "631e1d7b744b697f"
        ],
        "x": 54,
        "y": 1579,
        "w": 472,
        "h": 122
    },
    {
        "id": "edc83286b603d84a",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e828481c0c713837",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "AryaOS Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "98514ac85fb371eb",
        "type": "ui_tab",
        "name": "Debug Logs",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "985cb816630d7e12",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "98514ac85fb371eb",
        "order": 1,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4f5d2f631860ad85",
        "type": "ui_group",
        "name": "TAK Users",
        "tab": "f26ff01359312d83",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f26ff01359312d83",
        "type": "ui_tab",
        "name": "TAK",
        "icon": "dashboard",
        "order": 8,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2ff2aec393c0b08b",
        "type": "ui_link",
        "name": "Home",
        "link": "/home/",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 1
    },
    {
        "id": "20776b02c778704b",
        "type": "ui_link",
        "name": "Recorder",
        "link": "/recorder/",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 2
    },
    {
        "id": "82605fd0c2672638",
        "type": "ui_tab",
        "name": "ADS-B",
        "icon": "dashboard",
        "order": 10,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cd633a77f0c6d2b5",
        "type": "ui_group",
        "name": "Stats",
        "tab": "82605fd0c2672638",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "095368571cbf1fcf",
        "type": "ui_chart",
        "z": "94cf869050128770",
        "g": "45da34b7e4bdb957",
        "name": "Current Aircraft",
        "group": "cd633a77f0c6d2b5",
        "order": 4,
        "width": 10,
        "height": 5,
        "label": "Current ADS-B Aircraft",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 500,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "c82e38d047199cb5",
        "type": "function",
        "z": "94cf869050128770",
        "g": "45da34b7e4bdb957",
        "name": "Current Aircraft Count",
        "func": "let pl = msg.payload;\n\nlet payloads = [\n    { payload: pl.aircraft.length },\n    { payload: pl.messages },\n    { payload: pl.now }\n]\n\nreturn payloads;",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 120,
        "wires": [
            [
                "095368571cbf1fcf",
                "7750039932acdcc7"
            ],
            [
                "16d10d070ec070d9"
            ],
            [
                "8db81499fdb5170a"
            ]
        ]
    },
    {
        "id": "16d10d070ec070d9",
        "type": "ui_text",
        "z": "94cf869050128770",
        "g": "45da34b7e4bdb957",
        "group": "cd633a77f0c6d2b5",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Total ADS-B Messages",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "fba68adf.14e13",
        "type": "exec",
        "z": "94cf869050128770",
        "g": "42d1bc7ae7b142a6",
        "command": "vcgencmd measure_temp",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "RPi Temp.",
        "x": 270,
        "y": 980,
        "wires": [
            [
                "fa5b499.e176cb8"
            ],
            [],
            []
        ]
    },
    {
        "id": "7c8379de.068868",
        "type": "inject",
        "z": "94cf869050128770",
        "g": "42d1bc7ae7b142a6",
        "name": "10s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 1040,
        "wires": [
            [
                "fba68adf.14e13",
                "972ece2a.3dbe8",
                "6242be99.26ac88"
            ]
        ]
    },
    {
        "id": "fa5b499.e176cb8",
        "type": "function",
        "z": "94cf869050128770",
        "g": "42d1bc7ae7b142a6",
        "name": "",
        "func": "str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 980,
        "wires": [
            [
                "2653a0b0.26d638",
                "28b64a2c.b32116"
            ]
        ]
    },
    {
        "id": "972ece2a.3dbe8",
        "type": "exec",
        "z": "94cf869050128770",
        "g": "42d1bc7ae7b142a6",
        "command": "top -d 0.5 -b -n2 | grep \"Cpu(s)\"| awk '{print $2 + $4}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "CPU Load",
        "x": 270,
        "y": 1040,
        "wires": [
            [
                "a5da1eb0f58fe89a"
            ],
            [],
            []
        ]
    },
    {
        "id": "6242be99.26ac88",
        "type": "exec",
        "z": "94cf869050128770",
        "g": "42d1bc7ae7b142a6",
        "command": "free | grep Mem | awk '{print 100*($3+$5+$6)/$2}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "Free Memory",
        "x": 270,
        "y": 1100,
        "wires": [
            [
                "77573ff2f632057f"
            ],
            [],
            []
        ]
    },
    {
        "id": "270f61f0.9af05e",
        "type": "exec",
        "z": "94cf869050128770",
        "g": "ef944c45efbb9c65",
        "command": "df -h",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Disk Usage",
        "x": 750,
        "y": 860,
        "wires": [
            [
                "d70b7556.a0a9e"
            ],
            [],
            []
        ]
    },
    {
        "id": "d70b7556.a0a9e",
        "type": "function",
        "z": "94cf869050128770",
        "g": "ef944c45efbb9c65",
        "name": "",
        "func": "var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 860,
        "wires": [
            [
                "7ca6ecb.7512014"
            ]
        ]
    },
    {
        "id": "59103f97.07fed",
        "type": "inject",
        "z": "94cf869050128770",
        "g": "ef944c45efbb9c65",
        "name": "",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 590,
        "y": 860,
        "wires": [
            [
                "270f61f0.9af05e"
            ]
        ]
    },
    {
        "id": "77573ff2f632057f",
        "type": "function",
        "z": "94cf869050128770",
        "g": "42d1bc7ae7b142a6",
        "name": "function 1",
        "func": "msg.payload = parseFloat(msg.payload).toFixed(1)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1100,
        "wires": [
            [
                "9b301b09.8c0468"
            ]
        ]
    },
    {
        "id": "a5da1eb0f58fe89a",
        "type": "function",
        "z": "94cf869050128770",
        "g": "42d1bc7ae7b142a6",
        "name": "Average CPUs",
        "func": "const pl = msg.payload;\n\nconst loads = pl.split(\"\\n\").filter(n => n)\n\nvar total = 0;\nfor (var i = 0; i < loads.length; i++) {\n    total += loads[i];\n}\nvar avg = total / loads.length;\n\n\nmsg.payload = loads;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1040,
        "wires": [
            [
                "b9372186.ed1a5"
            ]
        ]
    },
    {
        "id": "20787a00729ffe5f",
        "type": "link in",
        "z": "94cf869050128770",
        "g": "45da34b7e4bdb957",
        "name": "Dashboard In",
        "links": [
            "64fa2c00f63bdd53"
        ],
        "x": 145,
        "y": 120,
        "wires": [
            [
                "c82e38d047199cb5"
            ]
        ]
    },
    {
        "id": "c1b4f4996f5aa122",
        "type": "comment",
        "z": "94cf869050128770",
        "g": "45da34b7e4bdb957",
        "name": "ADS-B Dashboard",
        "info": "",
        "x": 190,
        "y": 60,
        "wires": []
    },
    {
        "id": "7750039932acdcc7",
        "type": "ui_text",
        "z": "94cf869050128770",
        "g": "45da34b7e4bdb957",
        "group": "cd633a77f0c6d2b5",
        "order": 1,
        "width": 5,
        "height": 1,
        "name": "Current Tracks",
        "label": "Current Tracks",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 500,
        "y": 60,
        "wires": []
    },
    {
        "id": "73eb77cde2c7a709",
        "type": "exec",
        "z": "94cf869050128770",
        "g": "fb90e60944764ed9",
        "command": "gpspipe --json -n 5",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "30",
        "winHide": false,
        "name": "gpspipe",
        "x": 240,
        "y": 540,
        "wires": [
            [
                "7c69f96954e99a9b"
            ],
            [],
            []
        ]
    },
    {
        "id": "69bd079907c39f3c",
        "type": "inject",
        "z": "94cf869050128770",
        "g": "fb90e60944764ed9",
        "name": "30s",
        "props": [],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "73eb77cde2c7a709"
            ]
        ]
    },
    {
        "id": "de2c209dbe934060",
        "type": "json",
        "z": "94cf869050128770",
        "g": "fb90e60944764ed9",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 540,
        "wires": [
            [
                "f20627a1cbc79171"
            ]
        ]
    },
    {
        "id": "1190f05a50aad89c",
        "type": "function",
        "z": "94cf869050128770",
        "g": "fb90e60944764ed9",
        "name": "GPS Mode Lookup",
        "func": "// https://gpsd.gitlab.io/gpsd/gpsd_json.html\n\nconst pl = msg.payload;\n\nmsg.payload = \"Invalid Mode\";\n\nswitch (parseInt(pl.mode)) { \n    case 0:\n        msg.payload = \"UNKNOWN\";\n        break;\n    case 1:\n        msg.payload = \"NO FIX\";\n        break;\n    case 2:\n        msg.payload = \"2D\";\n        break;\n    case 3:\n        msg.payload = \"3D\";\n        break;\n    default:\n        msg.payload = \"Invalid Mode\";\n        break;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 600,
        "wires": [
            [
                "43958e20b7e848a3"
            ]
        ]
    },
    {
        "id": "24d11b12327e6147",
        "type": "exec",
        "z": "94cf869050128770",
        "g": "75d810e2c34e3c4f",
        "command": "rtl_test",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "winHide": false,
        "name": "rtl_test",
        "x": 230,
        "y": 300,
        "wires": [
            [
                "c694287e0ecfdb11"
            ],
            [
                "c694287e0ecfdb11"
            ],
            []
        ]
    },
    {
        "id": "b36b3af7a720fa09",
        "type": "inject",
        "z": "94cf869050128770",
        "g": "75d810e2c34e3c4f",
        "name": "30s",
        "props": [],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "24d11b12327e6147"
            ]
        ]
    },
    {
        "id": "c694287e0ecfdb11",
        "type": "function",
        "z": "94cf869050128770",
        "g": "75d810e2c34e3c4f",
        "name": "SDR List",
        "func": "//  2>&1|grep -A2 Found|tail -n 2\n\n/*\n * This function takes in an input string and a search term. \n * \n * It then splits the input string into an array of lines, \n * finds the index of the line that contains the search term, \n * and returns the next two lines after the matched line, \n * separated by newlines. \n * \n * If the search term is not found or if there are not enough \n * lines after the match, it returns null.\n*/\nfunction grepA2(inputString, searchTerm) {\n    // Split the input string by newlines\n    const lines = inputString.split('\\n');\n\n    // Find the index of the matched line\n    const index = lines.findIndex(line => line.includes(searchTerm));\n    if (index !== -1 && index < lines.length - 2) {\n        // Return the next two lines after the matched line\n        return lines.slice(index + 1, index + 3).join('\\n');\n    } else {\n        // Return null if the searchTerm is not found or if there are not enough lines after the match\n        return \"ERR\\nERR\";\n    }\n}\n\nlet pl = grepA2(msg.payload, \"Found\");\n\nif (typeof pl !== undefined && pl !== null) {\n    msg.payload = pl.split(\"\\n\");\n    return msg;\n}\nreturn {payload: [\"ERROR\", \"ERROR\"]}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 300,
        "wires": [
            [
                "ab8919275dc5a1bb",
                "65b80260e6a12016"
            ]
        ]
    },
    {
        "id": "5dd1990becedf2b0",
        "type": "inject",
        "z": "94cf869050128770",
        "g": "c1ac067b71b7f0d1",
        "name": "",
        "props": [],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "x": 810,
        "y": 980,
        "wires": [
            [
                "b1397733b1721b33"
            ]
        ]
    },
    {
        "id": "b1397733b1721b33",
        "type": "exec",
        "z": "94cf869050128770",
        "g": "c1ac067b71b7f0d1",
        "command": "lsusb|sort",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "",
        "x": 940,
        "y": 980,
        "wires": [
            [
                "3261a8dfedfae96d"
            ],
            [],
            []
        ]
    },
    {
        "id": "3261a8dfedfae96d",
        "type": "ui_template",
        "z": "94cf869050128770",
        "g": "c1ac067b71b7f0d1",
        "group": "985cb816630d7e12",
        "name": "USB Devices",
        "order": 1,
        "width": 20,
        "height": 4,
        "format": "<strong>USB Devices</strong>\n\n<pre><div ng-bind-html=\"msg.payload\"></div></pre>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1090,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "ca3080fa414c682a",
        "type": "inject",
        "z": "94cf869050128770",
        "g": "191c390f76d0d2ec",
        "name": "",
        "props": [],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "x": 810,
        "y": 1100,
        "wires": [
            [
                "b8c830dc7384cd97"
            ]
        ]
    },
    {
        "id": "b8c830dc7384cd97",
        "type": "exec",
        "z": "94cf869050128770",
        "g": "191c390f76d0d2ec",
        "command": "dmesg|egrep -vi '(^$)'|tail -10",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "",
        "x": 1000,
        "y": 1100,
        "wires": [
            [
                "a37cfd5ee5320ebf"
            ],
            [],
            []
        ]
    },
    {
        "id": "a37cfd5ee5320ebf",
        "type": "ui_template",
        "z": "94cf869050128770",
        "g": "191c390f76d0d2ec",
        "group": "985cb816630d7e12",
        "name": "dmesg Tail",
        "order": 3,
        "width": 20,
        "height": 6,
        "format": "<strong>dmesg Tail</strong>\n<pre><div ng-bind-html=\"msg.payload\"></div></pre>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1210,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "67c1aa629a2e95af",
        "type": "exec",
        "z": "94cf869050128770",
        "g": "a1d4fe25968a5368",
        "command": "/usr/local/sbin/get_throttled.sh",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "",
        "x": 910,
        "y": 500,
        "wires": [
            [
                "4f64ec7db13ee424"
            ],
            [],
            []
        ]
    },
    {
        "id": "4338acd2934924cc",
        "type": "inject",
        "z": "94cf869050128770",
        "g": "a1d4fe25968a5368",
        "name": "",
        "props": [],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "x": 710,
        "y": 500,
        "wires": [
            [
                "67c1aa629a2e95af"
            ]
        ]
    },
    {
        "id": "16419a36256c9583",
        "type": "inject",
        "z": "94cf869050128770",
        "g": "e3b3a9c137f6b1a8",
        "name": "1m",
        "props": [],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 860,
        "wires": [
            [
                "b1d1259dd556c68a"
            ]
        ]
    },
    {
        "id": "b1d1259dd556c68a",
        "type": "exec",
        "z": "94cf869050128770",
        "g": "e3b3a9c137f6b1a8",
        "command": "uptime",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "",
        "x": 230,
        "y": 860,
        "wires": [
            [
                "267687b40c52261e"
            ],
            [
                "267687b40c52261e"
            ],
            []
        ]
    },
    {
        "id": "285ece519bd3976f",
        "type": "inject",
        "z": "94cf869050128770",
        "g": "4b39414d47d8990e",
        "name": "10s",
        "props": [],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "x": 130,
        "y": 2100,
        "wires": [
            [
                "4dfeafb5656bdb04"
            ]
        ]
    },
    {
        "id": "e93dc524c636e92d",
        "type": "split",
        "z": "94cf869050128770",
        "g": "4b39414d47d8990e",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 510,
        "y": 2080,
        "wires": [
            [
                "88070f84d9e74504"
            ]
        ]
    },
    {
        "id": "b4b0c83c63e4b4ff",
        "type": "json",
        "z": "94cf869050128770",
        "g": "4b39414d47d8990e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 2080,
        "wires": [
            [
                "e93dc524c636e92d"
            ]
        ]
    },
    {
        "id": "88070f84d9e74504",
        "type": "change",
        "z": "94cf869050128770",
        "g": "4b39414d47d8990e",
        "name": "Set service",
        "rules": [
            {
                "t": "set",
                "p": "service",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 2140,
        "wires": [
            [
                "668b9fe6695a20aa"
            ]
        ]
    },
    {
        "id": "fb5bade2bfe9eabc",
        "type": "ui_template",
        "z": "94cf869050128770",
        "group": "985cb816630d7e12",
        "name": "comitup Status",
        "order": 4,
        "width": 20,
        "height": 5,
        "format": "<div><strong><div ng-bind-html=\"msg.service\"></div> Status</strong></div>\n<div><pre ng-bind-html=\"msg.payload\"></pre></div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1100,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "37f21d650f5fda44",
        "type": "function",
        "z": "94cf869050128770",
        "g": "4b39414d47d8990e",
        "name": "Set HTML Payload",
        "func": "const pl = msg.payload;\nconst code = pl.code;\n\nswitch (code) {\n    case 0:\n        msg.payload = `OK (${code})`;\n        msg.icon = \"fa-check\"\n        msg.color = \"green\"\n        break;\n    case 3:\n        msg.payload = `Disabled (${code})`;\n        msg.icon = \"fa-exclamation\"\n        msg.color = \"orange\"\n        break;\n    default:\n        msg.payload = `NOT OK (${code})`\n        msg.icon = \"fa-times-circle\"\n        msg.color = \"red\"\n        break;\n}\n\nmsg.payload = `<font color=\"${msg.color}\"><i class=\"fa ${msg.icon}\"></i> ${msg.payload}</font>`\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 2200,
        "wires": [
            [
                "07a741936395d2ef"
            ]
        ]
    },
    {
        "id": "cbdfeead972e8093",
        "type": "ui_template",
        "z": "94cf869050128770",
        "group": "985cb816630d7e12",
        "name": "adsbcot Status",
        "order": 5,
        "width": 20,
        "height": 5,
        "format": "<div><strong><div ng-bind-html=\"msg.service\"></div> Status</strong></div>\n<div><pre ng-bind-html=\"msg.payload\"></pre></div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1110,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "3519c43830c4630c",
        "type": "ui_template",
        "z": "94cf869050128770",
        "group": "985cb816630d7e12",
        "name": "dump978-fa Status",
        "order": 7,
        "width": 20,
        "height": 5,
        "format": "<div><strong><div ng-bind-html=\"msg.service\"></div> Status</strong></div>\n<div><pre ng-bind-html=\"msg.payload\"></pre></div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1110,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "cc9530f61b75f0a5",
        "type": "ui_template",
        "z": "94cf869050128770",
        "group": "985cb816630d7e12",
        "name": "Node-RED Status",
        "order": 8,
        "width": 20,
        "height": 5,
        "format": "<div><strong><div ng-bind-html=\"msg.service\"></div> Status</strong></div>\n<div><pre ng-bind-html=\"msg.payload\"></pre></div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1110,
        "y": 2020,
        "wires": [
            []
        ]
    },
    {
        "id": "ef95bf31be708221",
        "type": "ui_template",
        "z": "94cf869050128770",
        "group": "985cb816630d7e12",
        "name": "lincot Status",
        "order": 9,
        "width": 20,
        "height": 5,
        "format": "<div><strong><div ng-bind-html=\"msg.service\"></div> Status</strong></div>\n<div><pre ng-bind-html=\"msg.payload\"></pre></div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1100,
        "y": 2060,
        "wires": [
            []
        ]
    },
    {
        "id": "281c50f4b51a5007",
        "type": "ui_template",
        "z": "94cf869050128770",
        "group": "985cb816630d7e12",
        "name": "gpsd Status",
        "order": 10,
        "width": 20,
        "height": 4,
        "format": "<div><strong><div ng-bind-html=\"msg.service\"></div> Status</strong></div>\n<div><pre ng-bind-html=\"msg.payload\"></pre></div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1090,
        "y": 2100,
        "wires": [
            []
        ]
    },
    {
        "id": "4317408c7b784c0b",
        "type": "link in",
        "z": "94cf869050128770",
        "g": "4b39414d47d8990e",
        "name": "Dashboard Status In",
        "links": [
            "05b15b7858e7cbca"
        ],
        "x": 145,
        "y": 2060,
        "wires": [
            [
                "4dfeafb5656bdb04"
            ]
        ]
    },
    {
        "id": "eba6db50839b1dd3",
        "type": "inject",
        "z": "94cf869050128770",
        "g": "17bfcdcfdf2a4d27",
        "name": "30s",
        "props": [],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "x": 850,
        "y": 120,
        "wires": [
            [
                "fe13b1777995e549",
                "0461c96c7176906e"
            ]
        ]
    },
    {
        "id": "fe13b1777995e549",
        "type": "exec",
        "z": "94cf869050128770",
        "g": "17bfcdcfdf2a4d27",
        "command": "ip -json addr",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "",
        "x": 990,
        "y": 80,
        "wires": [
            [
                "a8c5db14c632752a"
            ],
            [],
            []
        ]
    },
    {
        "id": "a8c5db14c632752a",
        "type": "json",
        "z": "94cf869050128770",
        "g": "17bfcdcfdf2a4d27",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1130,
        "y": 80,
        "wires": [
            [
                "96eaefd7b076e52f"
            ]
        ]
    },
    {
        "id": "2273e07e235feb5f",
        "type": "ui_template",
        "z": "94cf869050128770",
        "g": "17bfcdcfdf2a4d27",
        "group": "985cb816630d7e12",
        "name": "IP Interfaces",
        "order": 2,
        "width": 5,
        "height": 4,
        "format": "<strong>IP Interfaces</strong>\n<pre><div ng-bind-html=\"msg.payload\"></div></pre>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1410,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "96eaefd7b076e52f",
        "type": "function",
        "z": "94cf869050128770",
        "g": "17bfcdcfdf2a4d27",
        "name": "Format",
        "func": "const pl = msg.payload\n\nconst lo0 = pl[0]\nconst eth0 = pl[1]\nconst wlan0 = pl[2]\n\nif (eth0.addr_info.length > 0) {\n    eth0.ip = eth0.addr_info[0].local || \"[NO IP]\"\n}\n\nif (wlan0.addr_info.length > 0) {\n    wlan0.ip = wlan0.addr_info[0].local || \"[NO IP]\"\n}\n\nmsg.payload =  `${eth0.ifname}: ${eth0.ip}\\n\n${wlan0.ifname}: ${wlan0.ip}`;\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 80,
        "wires": [
            [
                "2273e07e235feb5f",
                "08b0c289b467c651"
            ]
        ]
    },
    {
        "id": "9f8119755cf73778",
        "type": "qrcode-generator",
        "z": "94cf869050128770",
        "g": "d34772b1b10233f2",
        "name": "",
        "qrtype": "wifi2qr",
        "text2qrText": "",
        "ssid": "",
        "hiddenssid": false,
        "wifitype": "",
        "phonenum": "",
        "smsphonenum": "",
        "smstext": "",
        "mailto": "",
        "mailsubject": "",
        "mailbody": "",
        "latitude": "",
        "longitude": "",
        "colorlight": "#ffffff",
        "colordark": "#000000",
        "printstatus": true,
        "x": 1010,
        "y": 380,
        "wires": [
            [
                "cbbe264f84b53680"
            ]
        ]
    },
    {
        "id": "a1642742e713d559",
        "type": "link in",
        "z": "94cf869050128770",
        "g": "d34772b1b10233f2",
        "name": "QR Code In",
        "links": [
            "b104d679e8967f58"
        ],
        "x": 725,
        "y": 380,
        "wires": [
            [
                "8a9319936729c649"
            ]
        ]
    },
    {
        "id": "8a9319936729c649",
        "type": "function",
        "z": "94cf869050128770",
        "g": "d34772b1b10233f2",
        "name": "Set URL",
        "func": "const pl = msg.payload\nlet nodeId = pl.match(/NODE_ID=(?<nodeId>[^\\n\\r]+)/).groups.nodeId\nlet ssid = `AryaOS-${nodeId.substr(-4, 4)}`\n\nlet wifiUrl = `WIFI:S:${ssid};T:;P:;H:false;`\nmsg.qrcodeinput = wifiUrl\nmsg.ssid = ssid\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 380,
        "wires": [
            [
                "9f8119755cf73778"
            ]
        ]
    },
    {
        "id": "a7b69d374027ce65",
        "type": "ui_template",
        "z": "94cf869050128770",
        "group": "985cb816630d7e12",
        "name": "readsb Status",
        "order": 11,
        "width": 20,
        "height": 4,
        "format": "<div><strong><div ng-bind-html=\"msg.service\"></div> Status</strong></div>\n<div><pre ng-bind-html=\"msg.payload\"></pre></div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1100,
        "y": 2140,
        "wires": [
            []
        ]
    },
    {
        "id": "16a7f78a221b3c35",
        "type": "ui_template",
        "z": "94cf869050128770",
        "group": "985cb816630d7e12",
        "name": "aiscot Status",
        "order": 9,
        "width": 20,
        "height": 5,
        "format": "<div><strong><div ng-bind-html=\"msg.service\"></div> Status</strong></div>\n<div><pre ng-bind-html=\"msg.payload\"></pre></div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1100,
        "y": 2180,
        "wires": [
            []
        ]
    },
    {
        "id": "6747ef8e64eadae2",
        "type": "ui_template",
        "z": "94cf869050128770",
        "group": "985cb816630d7e12",
        "name": "dronecot Status",
        "order": 9,
        "width": 20,
        "height": 5,
        "format": "<div><strong><div ng-bind-html=\"msg.service\"></div> Status</strong></div>\n<div><pre ng-bind-html=\"msg.payload\"></pre></div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1100,
        "y": 2220,
        "wires": [
            []
        ]
    },
    {
        "id": "808f9f656a06999e",
        "type": "inject",
        "z": "94cf869050128770",
        "g": "3de15a4313928391",
        "name": "30s",
        "props": [],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "b2825e8d13e21f82"
            ]
        ]
    },
    {
        "id": "b2825e8d13e21f82",
        "type": "exec",
        "z": "94cf869050128770",
        "g": "3de15a4313928391",
        "command": "docker ps",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "",
        "x": 240,
        "y": 740,
        "wires": [
            [
                "d033dfa14fa3a005"
            ],
            [
                "d033dfa14fa3a005"
            ],
            []
        ]
    },
    {
        "id": "d033dfa14fa3a005",
        "type": "ui_template",
        "z": "94cf869050128770",
        "g": "3de15a4313928391",
        "group": "985cb816630d7e12",
        "name": "Docker PS",
        "order": 1,
        "width": 20,
        "height": 4,
        "format": "<strong>Docker PS</strong>\n\n<pre><div ng-bind-html=\"msg.payload\"></div></pre>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 390,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "e0d87a55d461c609",
        "type": "ui_text",
        "z": "94cf869050128770",
        "g": "45da34b7e4bdb957",
        "group": "cd633a77f0c6d2b5",
        "order": 3,
        "width": 10,
        "height": 1,
        "name": "Last Update",
        "label": "Last Update (secs.)",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "8db81499fdb5170a",
        "type": "function",
        "z": "94cf869050128770",
        "g": "45da34b7e4bdb957",
        "name": "Get Delta",
        "func": "let pl = msg.payload\nflow.set(\"lastUpdate\", pl)\n\n// let now = new Date(Date.now()).toISOString()\nlet now = Date.now()\nlet delta = now*1000 - (pl/1000)\n\nmsg.payload = parseInt(now/1000 - pl)\n\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 180,
        "wires": [
            [
                "e0d87a55d461c609"
            ]
        ]
    },
    {
        "id": "681d2876a7db4f51",
        "type": "inject",
        "z": "94cf869050128770",
        "g": "45da34b7e4bdb957",
        "name": "10s",
        "props": [],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "d85368cd75bb347e"
            ]
        ]
    },
    {
        "id": "d85368cd75bb347e",
        "type": "change",
        "z": "94cf869050128770",
        "g": "45da34b7e4bdb957",
        "name": "lastUpdate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "lastUpdate",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "8db81499fdb5170a"
            ]
        ]
    },
    {
        "id": "7c69f96954e99a9b",
        "type": "split",
        "z": "94cf869050128770",
        "g": "fb90e60944764ed9",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 370,
        "y": 540,
        "wires": [
            [
                "de2c209dbe934060"
            ]
        ]
    },
    {
        "id": "f20627a1cbc79171",
        "type": "switch",
        "z": "94cf869050128770",
        "g": "fb90e60944764ed9",
        "name": "Class",
        "property": "payload.class",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TPV",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DEVICES",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 170,
        "y": 620,
        "wires": [
            [
                "1190f05a50aad89c",
                "7d93763937acd108",
                "a8a4b7b404c85a1c"
            ],
            []
        ]
    },
    {
        "id": "4a87ab6388bffac2",
        "type": "exec",
        "z": "94cf869050128770",
        "g": "1d17f399c2310113",
        "command": "hostnamectl --json=pretty status",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "",
        "x": 920,
        "y": 620,
        "wires": [
            [
                "5d6ab3c272199b94",
                "6ee20da0ae45fefa"
            ],
            [],
            []
        ]
    },
    {
        "id": "1fca29d62080fdd9",
        "type": "inject",
        "z": "94cf869050128770",
        "g": "1d17f399c2310113",
        "name": "10s",
        "props": [],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "x": 710,
        "y": 620,
        "wires": [
            [
                "4a87ab6388bffac2"
            ]
        ]
    },
    {
        "id": "5d6ab3c272199b94",
        "type": "ui_template",
        "z": "94cf869050128770",
        "g": "1d17f399c2310113",
        "group": "985cb816630d7e12",
        "name": "Hostnamectl",
        "order": 14,
        "width": "10",
        "height": "10",
        "format": "<strong>Hostnamectl</strong>\n<br/>\n<pre>\n<div ng-bind-html=\"msg.payload\"></div>\n</pre>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1150,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "2d5d9381afea8c59",
        "type": "change",
        "z": "94cf869050128770",
        "g": "1d17f399c2310113",
        "name": "Hostname",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Hostname",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 600,
        "wires": [
            [
                "dc3fd8b497972cae"
            ]
        ]
    },
    {
        "id": "6ee20da0ae45fefa",
        "type": "json",
        "z": "94cf869050128770",
        "g": "1d17f399c2310113",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1130,
        "y": 600,
        "wires": [
            [
                "2d5d9381afea8c59"
            ]
        ]
    },
    {
        "id": "95606cfcb2fc5c04",
        "type": "inject",
        "z": "94cf869050128770",
        "g": "ed89357254442b04",
        "name": "10s",
        "props": [],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "617789ed06e6dcdd"
            ]
        ]
    },
    {
        "id": "617789ed06e6dcdd",
        "type": "exec",
        "z": "94cf869050128770",
        "g": "ed89357254442b04",
        "command": "realpath -e /dev/serial/by-id/usb-Silicon*",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "Get dAISy Port",
        "x": 260,
        "y": 420,
        "wires": [
            [
                "26de6169ed90e52e"
            ],
            [
                "26de6169ed90e52e"
            ],
            []
        ]
    },
    {
        "id": "6a76f861923d5e5b",
        "type": "inject",
        "z": "94cf869050128770",
        "g": "96ffdbd12837f1c9",
        "name": "1m",
        "props": [],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 610,
        "y": 740,
        "wires": [
            [
                "49ef8ba8db452f65"
            ]
        ]
    },
    {
        "id": "49ef8ba8db452f65",
        "type": "exec",
        "z": "94cf869050128770",
        "g": "96ffdbd12837f1c9",
        "command": "uname -a",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "",
        "x": 740,
        "y": 740,
        "wires": [
            [
                "a7d3342e1a0fbcd2"
            ],
            [
                "a7d3342e1a0fbcd2"
            ],
            []
        ]
    },
    {
        "id": "7d93763937acd108",
        "type": "change",
        "z": "94cf869050128770",
        "g": "fb90e60944764ed9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.device",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 640,
        "wires": [
            [
                "6ffc305ab7e20ec7"
            ]
        ]
    },
    {
        "id": "9c2dffddf4d17c2b",
        "type": "ui_template",
        "z": "94cf869050128770",
        "group": "985cb816630d7e12",
        "name": "ais-catcher Status",
        "order": 9,
        "width": 20,
        "height": 5,
        "format": "<div><strong><div ng-bind-html=\"msg.service\"></div> Status</strong></div>\n<div><pre ng-bind-html=\"msg.payload\"></pre></div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1110,
        "y": 2260,
        "wires": [
            []
        ]
    },
    {
        "id": "a28b315020b7d27a",
        "type": "http in",
        "z": "94cf869050128770",
        "g": "81280d45cc541850",
        "name": "",
        "url": "/recorder",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1620,
        "wires": [
            [
                "542f98595d544bf1"
            ]
        ]
    },
    {
        "id": "c60c4db3ba0e4894",
        "type": "http response",
        "z": "94cf869050128770",
        "g": "81280d45cc541850",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 430,
        "y": 1620,
        "wires": []
    },
    {
        "id": "542f98595d544bf1",
        "type": "function",
        "z": "94cf869050128770",
        "g": "81280d45cc541850",
        "name": "Rewrite",
        "func": "msg.statusCode = 303;\n\nlet ip = flow.get(\"IP_ADDR\") || \"10.41.0.1\"\n\nmsg.headers = {\n    Location: `http://${ip}/recorder`\n}\n\ndelete msg.payload;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1620,
        "wires": [
            [
                "c60c4db3ba0e4894"
            ]
        ]
    },
    {
        "id": "0461c96c7176906e",
        "type": "exec",
        "z": "94cf869050128770",
        "g": "17bfcdcfdf2a4d27",
        "command": "ip -json route",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "",
        "x": 990,
        "y": 140,
        "wires": [
            [
                "3ffebbc8f353e474"
            ],
            [],
            []
        ]
    },
    {
        "id": "3ffebbc8f353e474",
        "type": "json",
        "z": "94cf869050128770",
        "g": "17bfcdcfdf2a4d27",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1130,
        "y": 140,
        "wires": [
            [
                "95371d51b8c1615b"
            ]
        ]
    },
    {
        "id": "95371d51b8c1615b",
        "type": "split",
        "z": "94cf869050128770",
        "g": "17bfcdcfdf2a4d27",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 1250,
        "y": 140,
        "wires": [
            [
                "61d60cef9a4e57a1"
            ]
        ]
    },
    {
        "id": "61d60cef9a4e57a1",
        "type": "switch",
        "z": "94cf869050128770",
        "g": "17bfcdcfdf2a4d27",
        "name": "",
        "property": "payload.dst",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "default",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 870,
        "y": 200,
        "wires": [
            [
                "51bd1b0de1b34ae1"
            ]
        ]
    },
    {
        "id": "51bd1b0de1b34ae1",
        "type": "change",
        "z": "94cf869050128770",
        "g": "17bfcdcfdf2a4d27",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.dev",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 200,
        "wires": [
            [
                "45262697685cd99a"
            ]
        ]
    },
    {
        "id": "45262697685cd99a",
        "type": "exec",
        "z": "94cf869050128770",
        "g": "17bfcdcfdf2a4d27",
        "command": "ip -json addr show dev",
        "addpay": "payload",
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "",
        "x": 1220,
        "y": 200,
        "wires": [
            [
                "02fe893dadaa3353"
            ],
            [],
            []
        ]
    },
    {
        "id": "02fe893dadaa3353",
        "type": "json",
        "z": "94cf869050128770",
        "g": "17bfcdcfdf2a4d27",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1390,
        "y": 200,
        "wires": [
            [
                "ca9f0660df3a7823"
            ]
        ]
    },
    {
        "id": "ca9f0660df3a7823",
        "type": "split",
        "z": "94cf869050128770",
        "g": "17bfcdcfdf2a4d27",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 870,
        "y": 240,
        "wires": [
            [
                "773d1f54a175ce44"
            ]
        ]
    },
    {
        "id": "773d1f54a175ce44",
        "type": "change",
        "z": "94cf869050128770",
        "g": "17bfcdcfdf2a4d27",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "IP_ADDR",
                "pt": "flow",
                "to": "payload.addr_info[0].local",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "011958f14ff20b6e",
        "type": "http in",
        "z": "94cf869050128770",
        "g": "81280d45cc541850",
        "name": "",
        "url": "/home",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1660,
        "wires": [
            [
                "631e1d7b744b697f"
            ]
        ]
    },
    {
        "id": "27f01ee6e020e629",
        "type": "http response",
        "z": "94cf869050128770",
        "g": "81280d45cc541850",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 450,
        "y": 1660,
        "wires": []
    },
    {
        "id": "631e1d7b744b697f",
        "type": "function",
        "z": "94cf869050128770",
        "g": "81280d45cc541850",
        "name": "Rewrite",
        "func": "msg.statusCode = 303;\n\nlet ip = flow.get(\"IP_ADDR\") || \"10.41.0.1\"\n\nmsg.headers = {\n    Location: `http://${ip}/`\n}\n\ndelete msg.payload;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1660,
        "wires": [
            [
                "27f01ee6e020e629"
            ]
        ]
    },
    {
        "id": "a8a4b7b404c85a1c",
        "type": "debug",
        "z": "94cf869050128770",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 740,
        "wires": []
    },
    {
        "id": "605314ea7983779d",
        "type": "worldmap",
        "z": "9c4ba3cbc4bd87fa",
        "name": "AryaOS Map",
        "lat": "37.16611",
        "lon": "-119.44944",
        "zoom": "6",
        "layer": "Custom",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "deg",
        "showgrid": "true",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/AryaOS-map",
        "overlist": "DR,CO,RA,DN,BU,RW,SN,AC,TL,HM",
        "maplist": "OSMG,OSMC,OSMH,EsriC,EsriS,EsriT,EsriO,EsriDG,NatGeo,UKOS,OpTop,HB,AN,ST,SW",
        "mapname": "OpenStreetMap",
        "mapurl": "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
        "mapopt": "",
        "mapwms": true,
        "x": 550,
        "y": 120,
        "wires": []
    },
    {
        "id": "828d600baacf7776",
        "type": "tak2wm",
        "z": "9c4ba3cbc4bd87fa",
        "name": "TAK2Worldmap",
        "x": 360,
        "y": 120,
        "wires": [
            [
                "605314ea7983779d"
            ]
        ]
    },
    {
        "id": "2934adb02aeb8158",
        "type": "link in",
        "z": "9c4ba3cbc4bd87fa",
        "name": "Maps In",
        "links": [
            "64fa2c00f63bdd53"
        ],
        "x": 185,
        "y": 280,
        "wires": [
            [
                "21fbad99be695a04"
            ]
        ]
    },
    {
        "id": "d15baed95c725e8c",
        "type": "worldmap",
        "z": "9c4ba3cbc4bd87fa",
        "name": "AryaOS Map",
        "lat": "37.16611",
        "lon": "-119.44944",
        "zoom": "6",
        "layer": "Custom",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "deg",
        "showgrid": "true",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/map",
        "overlist": "DR,CO,RA,DN,BU,RW,SN,AC,TL,HM",
        "maplist": "OSMG,OSMC,OSMH,EsriC,EsriS,EsriT,EsriO,EsriDG,NatGeo,UKOS,OpTop,HB,AN,ST,SW",
        "mapname": "OpenStreetMap",
        "mapurl": "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
        "mapopt": "",
        "mapwms": true,
        "x": 550,
        "y": 340,
        "wires": []
    },
    {
        "id": "37a3c25966f0b291",
        "type": "ui_worldmap",
        "z": "9c4ba3cbc4bd87fa",
        "group": "cd633a77f0c6d2b5",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "lat": "37.16611",
        "lon": "-119.44944",
        "zoom": "6",
        "layer": "Custom",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/ui-map",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "OpenStreetMap",
        "mapurl": "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
        "mapopt": "",
        "mapwms": true,
        "x": 540,
        "y": 280,
        "wires": []
    },
    {
        "id": "134821138a2acfc2",
        "type": "split",
        "z": "9c4ba3cbc4bd87fa",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "41bb4c5c359af191"
            ]
        ]
    },
    {
        "id": "21fbad99be695a04",
        "type": "change",
        "z": "9c4ba3cbc4bd87fa",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.aircraft",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 280,
        "wires": [
            [
                "134821138a2acfc2"
            ]
        ]
    },
    {
        "id": "41bb4c5c359af191",
        "type": "change",
        "z": "9c4ba3cbc4bd87fa",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "payload.hex",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.icon",
                "pt": "msg",
                "to": ":airplane:",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 340,
        "wires": [
            [
                "d15baed95c725e8c",
                "37a3c25966f0b291"
            ]
        ]
    },
    {
        "id": "3ffffc180cc204dd",
        "type": "link in",
        "z": "9c4ba3cbc4bd87fa",
        "name": "Maps In",
        "links": [
            "089a5c1ffeafe91b"
        ],
        "x": 185,
        "y": 120,
        "wires": [
            [
                "828d600baacf7776"
            ]
        ]
    },
    {
        "id": "da9ab22b6c479887",
        "type": "inject",
        "z": "9c4ba3cbc4bd87fa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 560,
        "wires": [
            [
                "c63bb0b151b470de"
            ]
        ]
    },
    {
        "id": "c63bb0b151b470de",
        "type": "function",
        "z": "9c4ba3cbc4bd87fa",
        "name": "function 3",
        "func": "var imageBounds = [[40.712216, -74.22655], [40.773941, -74.12544]];\nmsg.payload = { command: { }}\nmsg.payload.command.map = {\n    overlay: \"test test\",\n    url: 'https://www.lib.utexas.edu/maps/historical/newark_nj_1922.jpg',\n    bounds: imageBounds,\n    opt: { opacity:0.8, attribution:\"&copy; test test\" }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 560,
        "wires": [
            [
                "d15baed95c725e8c"
            ]
        ]
    },
    {
        "id": "5f6eab2d3d6ad9be",
        "type": "json",
        "z": "76732e91104cd622",
        "g": "e165fa1b9bca5292",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 580,
        "wires": [
            [
                "64fa2c00f63bdd53"
            ]
        ]
    },
    {
        "id": "64fa2c00f63bdd53",
        "type": "link out",
        "z": "76732e91104cd622",
        "g": "e165fa1b9bca5292",
        "name": "aircraft Out",
        "mode": "link",
        "links": [
            "20787a00729ffe5f",
            "2934adb02aeb8158",
            "24b067af1a8cbf7d"
        ],
        "x": 675,
        "y": 540,
        "wires": []
    },
    {
        "id": "b068a436f07cc0bd",
        "type": "watch",
        "z": "76732e91104cd622",
        "g": "e165fa1b9bca5292",
        "name": "",
        "files": "/run/adsb",
        "recursive": "",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "b3d1b7bf5a4edba2"
            ]
        ]
    },
    {
        "id": "99dfc7e97f5f8d47",
        "type": "file in",
        "z": "76732e91104cd622",
        "g": "e165fa1b9bca5292",
        "name": "",
        "filename": "payload",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 540,
        "y": 540,
        "wires": [
            [
                "5f6eab2d3d6ad9be"
            ]
        ]
    },
    {
        "id": "99875f9d26d1f50e",
        "type": "link out",
        "z": "76732e91104cd622",
        "name": "adsbcot-config.txt Out",
        "mode": "link",
        "links": [
            "09f4ad56eb3fd133"
        ],
        "x": 445,
        "y": 140,
        "wires": []
    },
    {
        "id": "b104d679e8967f58",
        "type": "link out",
        "z": "76732e91104cd622",
        "name": "AryaOS-config.txt Out",
        "mode": "link",
        "links": [
            "a1642742e713d559",
            "09f4ad56eb3fd133"
        ],
        "x": 445,
        "y": 240,
        "wires": []
    },
    {
        "id": "4aa3f8001760c96a",
        "type": "udp in",
        "z": "76732e91104cd622",
        "g": "265b840ea6186ecf",
        "name": "",
        "iface": "",
        "port": "6969",
        "ipv": "udp4",
        "multicast": "true",
        "group": "239.2.3.1",
        "datatype": "buffer",
        "x": 170,
        "y": 800,
        "wires": [
            [
                "089a5c1ffeafe91b"
            ]
        ]
    },
    {
        "id": "e0a7e9ef71a6f0e8",
        "type": "udp in",
        "z": "76732e91104cd622",
        "g": "265b840ea6186ecf",
        "name": "",
        "iface": "wlan0",
        "port": "6969",
        "ipv": "udp4",
        "multicast": "true",
        "group": "239.2.3.1",
        "datatype": "buffer",
        "x": 170,
        "y": 860,
        "wires": [
            [
                "089a5c1ffeafe91b"
            ]
        ]
    },
    {
        "id": "bd6f79df66f3f373",
        "type": "udp in",
        "z": "76732e91104cd622",
        "g": "265b840ea6186ecf",
        "name": "",
        "iface": "eth0",
        "port": "6969",
        "ipv": "udp4",
        "multicast": "true",
        "group": "239.2.3.1",
        "datatype": "buffer",
        "x": 170,
        "y": 920,
        "wires": [
            [
                "089a5c1ffeafe91b"
            ]
        ]
    },
    {
        "id": "089a5c1ffeafe91b",
        "type": "link out",
        "z": "76732e91104cd622",
        "g": "265b840ea6186ecf",
        "name": "Network TAK In",
        "mode": "link",
        "links": [
            "7c699e7f158dc0d5",
            "3ffffc180cc204dd",
            "dc87e7e88303ec78"
        ],
        "x": 365,
        "y": 860,
        "wires": []
    },
    {
        "id": "8ef58d62e7fd687c",
        "type": "link out",
        "z": "76732e91104cd622",
        "name": "tmp-XXXX-config.txt Out",
        "mode": "link",
        "links": [
            "df765e01751751eb"
        ],
        "x": 515,
        "y": 320,
        "wires": []
    },
    {
        "id": "1aa83bf16aa07349",
        "type": "file in",
        "z": "76732e91104cd622",
        "name": "",
        "filename": "confPath",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 420,
        "y": 320,
        "wires": [
            [
                "8ef58d62e7fd687c"
            ]
        ]
    },
    {
        "id": "18674460572a0475",
        "type": "function",
        "z": "76732e91104cd622",
        "name": "Set Config Path",
        "func": "msg.confPath = `/home/node-red/${msg.payload}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 320,
        "wires": [
            [
                "1aa83bf16aa07349"
            ]
        ]
    },
    {
        "id": "7ec81fe075691fa0",
        "type": "link out",
        "z": "76732e91104cd622",
        "name": "Configs Out",
        "mode": "link",
        "links": [
            "af90dbace757338b"
        ],
        "x": 315,
        "y": 200,
        "wires": []
    },
    {
        "id": "58edafa9ab997436",
        "type": "link in",
        "z": "76732e91104cd622",
        "g": "265b840ea6186ecf",
        "name": "Out to Mesh SA",
        "links": [
            "ddb201c5df845268"
        ],
        "x": 225,
        "y": 980,
        "wires": [
            [
                "a5dbb71f6d17579d"
            ]
        ]
    },
    {
        "id": "a5dbb71f6d17579d",
        "type": "udp out",
        "z": "76732e91104cd622",
        "g": "265b840ea6186ecf",
        "name": "",
        "addr": "239.2.3.1",
        "iface": "",
        "port": "6969",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "multi",
        "x": 390,
        "y": 980,
        "wires": []
    },
    {
        "id": "b3d1b7bf5a4edba2",
        "type": "switch",
        "z": "76732e91104cd622",
        "g": "e165fa1b9bca5292",
        "name": "aircraft.json?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/run/adsb/aircraft.json",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/run/dump1090/aircraft.json",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/run/dump1090-fa/aircraft.json",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/run/dump1090-mutability/aircraft.json",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/run/readsb/aircraft.json",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 370,
        "y": 540,
        "wires": [
            [
                "99dfc7e97f5f8d47"
            ],
            [
                "99dfc7e97f5f8d47"
            ],
            [
                "99dfc7e97f5f8d47"
            ],
            [
                "99dfc7e97f5f8d47"
            ],
            [
                "99dfc7e97f5f8d47"
            ]
        ]
    },
    {
        "id": "ce3be08760e15920",
        "type": "watch",
        "z": "76732e91104cd622",
        "g": "e165fa1b9bca5292",
        "name": "",
        "files": "/run/readsb",
        "recursive": "",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "b3d1b7bf5a4edba2"
            ]
        ]
    },
    {
        "id": "eeab9ac6513e2cdf",
        "type": "parsrer",
        "z": "de725ec24f79b6b7",
        "name": "",
        "state": "",
        "destUid": "",
        "takMission": "",
        "datasyncSave": false,
        "creatorUid": "",
        "takServerUrl": "",
        "missionApiPort": 8443,
        "x": 430,
        "y": 200,
        "wires": [
            [
                "cedca169d6844f15"
            ],
            [],
            []
        ]
    },
    {
        "id": "1adb2eef7b22719d",
        "type": "inject",
        "z": "de725ec24f79b6b7",
        "name": "",
        "props": [],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "2f99864e0fa97b18"
            ]
        ]
    },
    {
        "id": "1e6eb6f93066814d",
        "type": "debug",
        "z": "de725ec24f79b6b7",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 120,
        "wires": []
    },
    {
        "id": "ddb201c5df845268",
        "type": "link out",
        "z": "de725ec24f79b6b7",
        "name": "TFR Out",
        "mode": "link",
        "links": [
            "58edafa9ab997436",
            "dc87e7e88303ec78"
        ],
        "x": 665,
        "y": 200,
        "wires": []
    },
    {
        "id": "cedca169d6844f15",
        "type": "tak",
        "z": "de725ec24f79b6b7",
        "name": "TAK",
        "x": 570,
        "y": 200,
        "wires": [
            [
                "ddb201c5df845268",
                "1e6eb6f93066814d"
            ],
            [],
            []
        ]
    },
    {
        "id": "2f99864e0fa97b18",
        "type": "change",
        "z": "de725ec24f79b6b7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "TFR_STATE",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 200,
        "wires": [
            [
                "eeab9ac6513e2cdf",
                "d45bfee76b7ca4be"
            ]
        ]
    },
    {
        "id": "d45bfee76b7ca4be",
        "type": "debug",
        "z": "de725ec24f79b6b7",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 240,
        "y": 120,
        "wires": []
    },
    {
        "id": "cedb612803ec48f3",
        "type": "ui_table",
        "z": "898f970d26b5049d",
        "group": "4f5d2f631860ad85",
        "name": "",
        "order": 3,
        "width": "12",
        "height": "15",
        "columns": [
            {
                "field": "id",
                "title": "id",
                "width": "2",
                "align": "center",
                "formatter": "rownum",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "label",
                "title": "Label",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "lastUpdate",
                "title": "Updated",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "battery",
                "title": "Bat",
                "width": "",
                "align": "left",
                "formatter": "progress",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "battery",
                "title": "Bat%",
                "width": "5",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 750,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "1a05840c28615402",
        "type": "function",
        "z": "898f970d26b5049d",
        "name": "Update User Table",
        "func": "let pl = msg.payload;\n\nmsg.payload = {\n    command: \"updateOrAddData\",\n    arguments: [\n        [\n            {\n                \"id\": pl.name,\n                \"label\": pl.label || pl.name,\n                \"lastUpdate\": pl.lastUpdate,\n                'battery': pl.battery\n            }\n        ]\n    ]\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 220,
        "wires": [
            [
                "cedb612803ec48f3",
                "089d8cf88cede906"
            ]
        ]
    },
    {
        "id": "ca452dfdb255ad66",
        "type": "ui_chart",
        "z": "898f970d26b5049d",
        "name": "",
        "group": "4f5d2f631860ad85",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "95a794098ccf72a6",
        "type": "function",
        "z": "898f970d26b5049d",
        "name": "Update Battery Graph",
        "func": "let pl = msg.payload;\n\nmsg.payload = {\n    command: \"updateOrAddData\",\n    arguments: [\n        [\n            {\n                \"id\": pl.name,\n                \"label\": pl.label || pl.name,\n                \"lastUpdate\": pl.lastUpdate,\n                'battery': pl.battery\n            }\n        ]\n    ]\n}\n\nmsg.topic = pl.label || pl.name;\nmsg.payload = pl.battery;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 260,
        "wires": [
            [
                "ca452dfdb255ad66"
            ]
        ]
    },
    {
        "id": "7c699e7f158dc0d5",
        "type": "link in",
        "z": "898f970d26b5049d",
        "name": "TAK Dashboard In",
        "links": [
            "089a5c1ffeafe91b"
        ],
        "x": 175,
        "y": 240,
        "wires": [
            [
                "ddb04bc04415d51e"
            ]
        ]
    },
    {
        "id": "ddb04bc04415d51e",
        "type": "tak2wm",
        "z": "898f970d26b5049d",
        "name": "TAK2Worldmap",
        "x": 300,
        "y": 240,
        "wires": [
            [
                "1a05840c28615402",
                "95a794098ccf72a6",
                "16f795d55dda4729"
            ]
        ]
    },
    {
        "id": "089d8cf88cede906",
        "type": "debug",
        "z": "898f970d26b5049d",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 160,
        "wires": []
    },
    {
        "id": "16f795d55dda4729",
        "type": "debug",
        "z": "898f970d26b5049d",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 140,
        "wires": []
    },
    {
        "id": "4194294f579cd489",
        "type": "inject",
        "z": "f83d0c6d58d0338c",
        "name": "Recorder tempo",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 60,
        "wires": [
            [
                "7aebc40599793b82",
                "23cecfd9fe2ca333"
            ]
        ]
    },
    {
        "id": "24b067af1a8cbf7d",
        "type": "link in",
        "z": "f83d0c6d58d0338c",
        "name": "Recorder In",
        "links": [
            "64fa2c00f63bdd53"
        ],
        "x": 185,
        "y": 200,
        "wires": [
            [
                "9d614ce21a98acb3",
                "503bc8cc58c93e82"
            ]
        ]
    },
    {
        "id": "74eb25f411edeb7c",
        "type": "ui_button",
        "z": "f83d0c6d58d0338c",
        "name": "Start Recorder",
        "group": "f9087e66bb4cd9b2",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": true,
        "label": "Start",
        "tooltip": "Starts aircraft data recorder.",
        "color": "white",
        "bgcolor": "green",
        "className": "",
        "icon": "save",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 280,
        "y": 340,
        "wires": [
            [
                "1fdb87ae7ebff0c2"
            ]
        ]
    },
    {
        "id": "0445d10019fc7ebc",
        "type": "ui_button",
        "z": "f83d0c6d58d0338c",
        "name": "Stop Recorder",
        "group": "f9087e66bb4cd9b2",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": true,
        "label": "Stop",
        "tooltip": "Stops aircraft data recorder.",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "stop",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 280,
        "y": 380,
        "wires": [
            [
                "1fdb87ae7ebff0c2"
            ]
        ]
    },
    {
        "id": "77267e91ba9895c4",
        "type": "debug",
        "z": "f83d0c6d58d0338c",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 180,
        "wires": []
    },
    {
        "id": "d467e586e80afacc",
        "type": "debug",
        "z": "f83d0c6d58d0338c",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 180,
        "wires": []
    },
    {
        "id": "4a8dd2ec585b8b08",
        "type": "file",
        "z": "f83d0c6d58d0338c",
        "name": "Write to recorderFile",
        "filename": "recorderFile",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 920,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "7aebc40599793b82",
        "type": "change",
        "z": "f83d0c6d58d0338c",
        "name": "Set Tempo",
        "rules": [
            {
                "t": "set",
                "p": "tempo",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "1fdb87ae7ebff0c2",
        "type": "change",
        "z": "f83d0c6d58d0338c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "record",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 360,
        "wires": [
            [
                "f5c0e9070d94faaa"
            ]
        ]
    },
    {
        "id": "9d614ce21a98acb3",
        "type": "switch",
        "z": "f83d0c6d58d0338c",
        "name": "Record?",
        "property": "record",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 220,
        "wires": [
            [
                "77267e91ba9895c4",
                "dad736f60e319e91"
            ]
        ]
    },
    {
        "id": "e6bdb76d8afa8684",
        "type": "function",
        "z": "f83d0c6d58d0338c",
        "name": "Set Logfile",
        "func": "let tempo = flow.get(\"tempo\")\n\nmsg.recorderFile = `/var/www/html/logs/${tempo}.json`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 220,
        "wires": [
            [
                "4a8dd2ec585b8b08",
                "d467e586e80afacc"
            ]
        ]
    },
    {
        "id": "5eb1994652b0b429",
        "type": "change",
        "z": "f83d0c6d58d0338c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "messages",
                "pt": "flow",
                "to": "payload.messages",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "f5c0e9070d94faaa",
        "type": "debug",
        "z": "f83d0c6d58d0338c",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 360,
        "wires": []
    },
    {
        "id": "dad736f60e319e91",
        "type": "switch",
        "z": "f83d0c6d58d0338c",
        "name": "",
        "property": "payload.messages",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "messages",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 220,
        "wires": [
            [
                "e6bdb76d8afa8684",
                "574f933135269f64",
                "5eb1994652b0b429"
            ]
        ]
    },
    {
        "id": "574f933135269f64",
        "type": "debug",
        "z": "f83d0c6d58d0338c",
        "name": "debug 26",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 180,
        "wires": []
    },
    {
        "id": "503bc8cc58c93e82",
        "type": "delay",
        "z": "f83d0c6d58d0338c",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 300,
        "y": 140,
        "wires": [
            [
                "5eb1994652b0b429"
            ]
        ]
    },
    {
        "id": "61c09a2c6f3c80a3",
        "type": "inject",
        "z": "f83d0c6d58d0338c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "23cecfd9fe2ca333",
        "type": "function",
        "z": "f83d0c6d58d0338c",
        "name": "Set HTML Payload",
        "func": "const pl = msg.payload;\nconst record = flow.get(\"record\");\n\nif (record) { \n    msg.payload = `Running`;\n    msg.icon = \"fa-check\"\n    msg.color = \"green\"\n} else {\n    msg.payload = `Stopped`\n    msg.icon = \"fa-times-circle\"\n    msg.color = \"red\"\n}\n\nmsg.payload = `<font color=\"${msg.color}\"><i class=\"fa ${msg.icon}\"></i> ${msg.payload}</font>`\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 540,
        "wires": [
            [
                "40e21166afb5b8b6",
                "6f2f64ae56a63c02"
            ]
        ]
    },
    {
        "id": "40e21166afb5b8b6",
        "type": "ui_text",
        "z": "f83d0c6d58d0338c",
        "group": "f9087e66bb4cd9b2",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Recorder Status",
        "label": "Recorder",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 580,
        "wires": []
    },
    {
        "id": "6f2f64ae56a63c02",
        "type": "debug",
        "z": "f83d0c6d58d0338c",
        "name": "debug 27",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 500,
        "wires": []
    },
    {
        "id": "efa512ccb1363505",
        "type": "ui_button",
        "z": "f83d0c6d58d0338c",
        "name": "Clear Recordings",
        "group": "f9087e66bb4cd9b2",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "Clear",
        "tooltip": "Deletes recorded aircraft data.",
        "color": "white",
        "bgcolor": "orange",
        "className": "",
        "icon": "report_problem",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 420,
        "wires": [
            [
                "8e531d285fbd8d0c"
            ]
        ]
    },
    {
        "id": "8e531d285fbd8d0c",
        "type": "exec",
        "z": "f83d0c6d58d0338c",
        "command": "rm /var/www/html/logs/*.json",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 520,
        "y": 420,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "a0s7nradminlinks01",
        "type": "ui_group",
        "name": "AryaOS admin",
        "tab": "edc83286b603d84a",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a0s7nradminlinks02",
        "type": "ui_template",
        "z": "94cf869050128770",
        "group": "a0s7nradminlinks01",
        "name": "Portal / Cockpit links",
        "order": 1,
        "width": 12,
        "height": 4,
        "format": "<motion.div style=\"padding:8px;line-height:1.5\"><p><strong>Configuration and services</strong> are managed outside Node-RED:</p><ul><li><a href=\"/\" target=\"_blank\" rel=\"noopener\">HTTPS portal</a> \u2014 live status</li><li><a href=\"/admin/\" target=\"_blank\" rel=\"noopener\">Cockpit</a> \u2014 services, Charontak, feeders</li><li><a ng-href=\"{{'http://' + location.host + ':9080/'}}\" target=\"_blank\" rel=\"noopener\">Comitup</a> \u2014 WiFi join</li></ul><p style=\"margin-bottom:0;color:#666\">This dashboard keeps maps, TFR, and recorder only.</p></motion.div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 180,
        "y": 80,
        "wires": [
            []
        ]
    }
]
